<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name=" Login Test">
    <classes>
      <class name="com.ivm.android.scripts.UserLogin"/>
        <class name="com.ivm.android.scripts.Settings" ></class>
       <class name="com.ivm.android.scripts.SearchAppraisalList" ></class>
      </classes>    
  </test> <!-- Test -->
  

  
</suite> <!-- Suite -->
